h1{
 text-align: center;
}

h2{
 text-align: center;
 font-family:Sans-serif;
  font-weight: bold;
}


#movie title {
margin-left: 200px;}

.button {
 background-color: dodgerblue;
 color: white;
 position: stattic;
 text-align: center;
 margin-left: 400px;
 margin-right: 400px:
 font-size: 30px;
 
}

body{
 font-family: "Trebuchet MS"
 font-size: 20px;
}

