

h2{
 text-align: center;
 font-family:'Courier New', Courier, monospace;
  font-weight: bold;
}

h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:50px;
}




.button {
background-color: dodgerblue;
color: white;
text-align: center;
width: 20%;
font-size: 30px;
border-radius: 13px 13px 13px 13px;
 
 text-align:center;
margin-top: 80px;
text-shadow: 2px 2px 3px rgb(0, 0, 0);
 
}

body{
 font-family: "Trebuchet MS";
 font-size: 20px;
 text-align: center;

 
}


.ratings{
  display:none;
}

.ratings{
  width: 90%;
  box-sizing:border-box;
  margin-left: 20px;
border-radius: 10px 10px 15px 15px;
height: 60px;
}

body{
  font-weight: bold;
  background-color: white;
  
}



#genre-label, #rating-label, #movie-title, #movie-year{
  padding-top: 50px;
  padding-bottom:50px;
  margin-left:300px;
  
  border: 6px solid rgb(218, 183, 250);
  border-radius: 20px 20px 20px 20px;
 background-color: white;
  margin-top: 50px;
  width:80%;
  text-align: center;
 

}


input{
  width: 60%;
  box-sizing:border-box;
  margin-left: 20px;
border-radius: 10px 10px 15px 15px;
height: 60px;
background-color:white;
}

#movie-list{
  padding-top: 120px;
}

#movie {
  text-align:center;
}


.container{
  background-color:rgb(251, 251, 251);
  border: 6px solid lavender;
    width: 60%;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    margin-left: 590px;
    
}
