h1{
 text-align: center;
}

h2{
 text-align: center;
 font-family:Sans-serif;
  font-weight: bold;
}




.button {
background-color: dodgerblue;
color: white;
text-align: center;
width: 20%;
font-size: 30px;
border-radius: 13px 13px 13px 13px;

margin-left:1200px;
margin-bottom:50px;

 
}

body{
 font-family: "Trebuchet MS";
 font-size: 20px;
 
}


.ratings{
  display:none;
}

input{
  width: 90%;
  box-sizing:border-box;
  margin-left: 20px;
border-radius: 10px 10px 15px 15px;
height: 60px;
}

body{
  font-weight: bold;
  
}

#genre-label, #rating-label, #movie title-label, #movie year-label{
  padding-top: 50px;
  padding-bottom:50px;
  margin-left:40px;
}

#movie-list{
  padding-top: 50px;
}

#movie {
  text-align:center;
}